.header {
    width: 100%;
    background: transparent;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .header {
        padding: 18px 0 !important;
    }

    .header .mobile-menu-btn .toggler-icon {
        background-color: #fff;
    }

    .header .button {
        margin: 0 !important;
    }

    .header .navbar-collapse {
        position: absolute;
        top: 67px !important;
        left: 0;
        width: 100%;
        background-color: #fff;
        z-index: 9;
        -webkit-box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
        padding: 10px 20px;
        max-height: 350px;
        overflow-y: scroll;
        border-top: 1px solid #eee;
        border-radius: 6px;
    }
    .navbar-area.sticky .navbar-collapse {
        position: absolute;
        top: 67px !important;
        left: 0;
        width: 100%;
        background-color: #fff;
        z-index: 9;
        -webkit-box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
        padding: 10px 20px;
        max-height: 350px;
        overflow-y: scroll;
        border-top: 1px solid #eee;
        border-radius: 6px;
    }
    .header .navbar .navbar-nav .nav-item a:hover {
        color: #ff6b81 !important;
    }

    .header .navbar .navbar-nav .nav-item a.active {
        color: #ff6b81 !important;
    }

    .header .navbar-nav .nav-item {
        margin: 0;
    }

    .header .navbar-nav .nav-item:hover a {
        color: #ff6b81;
    }

    .header .navbar-nav .nav-item a {
        padding: 12px 16px !important;
    }

    .header .navbar-nav .nav-item a::before {
        display: none;
    }


    .header .navbar-nav .nav-item a {
        color: #051441;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: 10px 0;
    }

    .header .navbar-nav .nav-item a::after {
        opacity: 1;
        visibility: visible;
    }

    .header .navbar-nav .nav-item a {
        font-size: 14px;
    }

    .header .navbar-nav .nav-item a:hover {
        color: #ff6b81;
    }
}

@media (max-width: 767px) {
    .header {
        padding: 18px 0 !important;
    }

    .header .mobile-menu-btn .toggler-icon {
        background-color: #fff;
    }

    .header .navbar-collapse {
        position: absolute;
        top: 58px !important;
        left: 0;
        width: 100%;
        background-color: #fff;
        z-index: 9;
        -webkit-box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
        padding: 10px 20px;
        max-height: 350px;
        overflow-y: scroll;
        border-top: 1px solid #eee;
        border-radius: 6px;
    }
    .navbar-area.sticky .navbar-collapse {
        position: absolute;
        top: 67px !important;
        left: 0;
        width: 100%;
        background-color: #fff;
        z-index: 9;
        -webkit-box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
        padding: 10px 20px;
        max-height: 350px;
        overflow-y: scroll;
        border-top: 1px solid #eee;
        border-radius: 6px;
    }


    .header .navbar-nav .nav-item {
        margin: 0;
    }

    .header .navbar-nav .nav-item:hover a {
        color: #ff6b81;
    }

    .header .navbar-nav .nav-item a {
        padding: 12px 16px !important;
    }

    .header .navbar-nav .nav-item a::before {
        display: none;
    }

    .header .navbar-nav .nav-item .sub-menu {
        position: static;
        width: 100%;
        opacity: 1;
        visibility: visible;
        -webkit-box-shadow: none;
        box-shadow: none;
        padding: 0;
        border: none;
        margin-left: 15px;
        margin-right: 15px;
    }

    .header .navbar-nav .nav-item .sub-menu .nav-item a {
        padding: 12px 12px;
    }

    .header .navbar-nav .nav-item .sub-menu .nav-item a:hover {
        color: #ff6b81 !important;
    }

    .header .navbar-nav .nav-item a {
        color: #051441;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: 10px 0;
    }

    .header .navbar-nav .nav-item a::after {
        opacity: 1;
        visibility: visible;
    }
}

@media (max-width: 767px) {
    .header .button {
        display: none;
    }
}


.header .navbar-brand img {
    width: 160px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .header .navbar-brand img {
        width: 170px;
    }
}

@media (max-width: 767px) {
    .header .navbar-brand img {
        width: 160px;
    }
}


.navbar-area.sticky  .nav-item a{    
    color: #fff; 
      padding: 15px 0;
} 


.sticky {
    position: fixed;
    z-index: 99;
    background-color: #fff;
    -webkit-box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.05);
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    top: 0;
}

.navbar-expand-lg .navbar-nav {
    margin: 0;
    margin-left: auto !important;
}



.sticky .navbar .navbar-nav .nav-item a {
    color: #fff !important;
}

.sticky .navbar .navbar-nav .nav-item a {
    color: #081828;
}

.header .navbar .navbar-nav .nav-item .sub-menu a.active {
    color: #fff;
}

.sticky .navbar .navbar-nav .nav-item .sub-menu a.active {
    color: #fff;
}

.sticky .navbar .mobile-menu-btn .toggler-icon {
    background: #fff;
}

/*===== NAVBAR =====*/
.navbar-area {
    width: 100%;
    z-index: 99;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    padding: 0;
}

.navbar-area.sticky {
    position: fixed;
    z-index: 99;
    background: #ff6b81;
    -webkit-box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.05);
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    color: #fff;
    padding: 0px 0;
}

.navbar {
    padding: 0;
    position: relative;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.navbar-brand {
    padding-left: 0;
    border-radius: 0;
    height: 70px;
    width: 200px;
}
.navbar-brand img{
    height: 100%;
}

.mobile-menu-btn {
    padding: 0px;
    border: none;
}

.mobile-menu-btn:focus {
    text-decoration: none;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.mobile-menu-btn .toggler-icon {
    width: 30px;
    height: 2px;
    background-color: #222;
    display: block;
    margin: 5px 0;
    position: relative;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.mobile-menu-btn.active .toggler-icon:nth-of-type(1) {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 7px;
}

.mobile-menu-btn.active .toggler-icon:nth-of-type(2) {
    opacity: 0;
}

.mobile-menu-btn.active .toggler-icon:nth-of-type(3) {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    top: -7px;
}

.navbar-nav .nav-item {
    z-index: 1;
    position: relative;
    margin-right: 40px;
}

.navbar-nav .nav-item:last-child {
    margin-right: 0 !important;
}

.navbar-nav .nav-item:hover a {
    color: #fff;
}

.sticky .navbar-nav .nav-item:hover a {
    color: #ff6b81;
}

.navbar-nav .nav-item a {
    font-size: 15px;
    color: #fff;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    position: relative;
    padding: 35px 0;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-weight: 600;
    transition: all 0.3s ease-out 0s;
    position: relative;
    text-transform: capitalize;
}

.navbar-nav .nav-item a::after {
    opacity: 0;
    visibility: hidden;
}

.navbar-nav .nav-item:hover a:before {
    width: 100%;
}

.navbar-nav .nav-item a.active {
    color: #fff;
}
@media (max-width: 991px) {
    .sticky .navbar .navbar-nav .nav-item a {
        color: #000 !important;
    }
    .sticky .navbar .navbar-nav .nav-item a.active {
        color: #ff6b81 !important;
    }
}