.trusted-block {
    text-align: center;
    padding: 35px;
    background-color: #fff;
    border-radius: 6px;
    position: relative;
    border: 1px solid #eee;
    -webkit-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s;
}

.trusted-block:hover {
    -webkit-box-shadow: 0px 3px 5px #00000017;
    box-shadow: 0px 3px 5px #00000017;
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
}
.trusted-logo .googleImg{
    width: 50%;
}
@media only screen and (min-width: 767px) and (max-width: 991px) {
    .trusted-logo .googleImg{
        width: 65%;
    }
}
@media screen and (max-width: 767px) {
    .trusted-logo .googleImg{
        width: 45%;
    }
}
.rating,
.review-count {
    font-size: 20px;
    color: #766d6d;
    font-weight: 600;
    margin: .7rem 0;
}

.review-count {
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}

.rate_star {
    color: #ffb700;
}

.trusted-logo img {
    margin-top: 10px;
    height: 60px;
    width: 70%;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .trusted-logo img {       
        width: 86%;
    }
}
@media screen and (max-width:991px) {
    .trusted-block {
        margin: 1rem 0;
    }

}
@media screen and (max-width:480px){
    .trusted-logo img {       
        width: 86%;
    }
}

