.thank {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgba(0, 0, 0, .1);
}

.thankyou_img {
    margin-top: 50px;
    max-height: 500px;
}

.thankyou_img img {
    height: 100%;
    width: 100%;
}
.button .btn-home {
    display: inline-block;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 600;
    padding: 13px 30px;
    background-color: #ff6b81;
    color: #fff;
    border: none;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    border-radius: 5px;
    position: relative;
    z-index: 1;
    margin-right: 7px;
    overflow: hidden;
  }


.button .btn-home i {
    font-size: 17px;
}

.button .btn-home:hover {
    background-color: #081828;
    color: #fff;
}